## Titanic: Machine Learning from Disaster

In [37]:
import numpy as np
import pandas as pd
import matplotlib

In [38]:
df = pd.read_csv('train.csv')

In [39]:
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [41]:
df.loc[(df.Cabin.notnull()), 'Cabin'] = '1'
df.loc[(df.Cabin.isnull()), 'Cabin'] = '0'

In [42]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,1,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,1,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,1,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,1,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [44]:
mean = round(df['Fare'].mean(), 4)
df['Fare'] = df['Fare'].fillna(mean)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [46]:
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,1,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,1,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,0,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,1,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,0,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,0,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,0,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,1,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,1,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,0,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,0,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,0,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,0,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,0,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,0,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,0,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,0,C

In [47]:
sex_dic = {'male': 0, 'female': 1}
df['Sex'] = df['Sex'].map(lambda x: sex_dic[x])

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,1,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,1,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,1,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,0,Q

In [12]:
# use model to do a regression for the age and do the prediction

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

alt = df[['Age', 'Fare', 'Parch', 'SibSp', 'Pclass']]

known_age = alt[alt.Age.notnull()].values
unknown_age = alt[alt.Age.isnull()].values

y = known_age[:, 0]  # 提取 Age信息
X = known_age[:, 1:]  # 预测信息

rfr_age = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)

rfr_age.fit(X, y)

predictedAges = rfr_age.predict(unknown_age[:, 1:])

predictedAges

array([23.83895259, 32.06649305, 29.51820514, 29.51820514, 22.38011324,
       27.94720616, 36.10804822, 35.2958243 , 22.87630686, 27.94720616,
       30.70572678, 33.12898535, 35.2958243 , 23.45968333, 44.06483036,
       41.20008848, 17.10441595, 27.94720616, 30.70572678, 23.32262739,
       30.70572678, 30.70572678, 27.94720616, 27.51545426, 33.55117591,
       30.70572678, 35.2958243 , 25.75587698, 25.34409583, 29.78279613,
       25.52340334, 10.86986696, 26.03188214, 49.5542756 ,  7.31116371,
       10.86986696, 31.71894048, 46.24976824, 33.12898535, 35.2958243 ,
       35.2958243 , 10.86986696, 31.09342985, 27.94720616,  7.31116371,
       31.10838452, 20.80015413, 33.12898535, 29.78279613, 34.62028571,
       35.2958243 , 35.2958243 , 36.87489821, 35.2958243 , 35.05181757,
       57.74249226, 41.20008848, 41.57487718, 35.2958243 , 23.31368333,
       42.57451554, 30.70572678, 28.57888393, 10.86986696, 23.31368333,
       31.42587794, 27.94720616, 26.68916849, 59.96916448, 29.51820514,
       22.38011324, 22.38011324, 33.12898535, 22.87630686, 35.2958243 ,
       31.94479345, 27.94720616, 19.89558113,  7.31116371, 27.94720616,
       20.68131488, 35.05181757, 30.70572678, 27.94720616, 29.78279613,
       35.2958243 , 26.68916849, 23.47643239, 24.10899881, 30.70572678,
       44.06001827, 35.2958243 , 30.70572678, 35.05181757, 19.89558113,
       29.78279613, 44.65953056, 35.05181757,  7.31116371, 24.10899881,
       18.19479484, 25.7554753 , 26.82073281, 49.8994093 , 30.70572678,
       34.17374861, 29.51820514, 22.87630686, 38.5155    , 22.87630686,
        8.01370298, 24.33021696, 32.79502428, 26.3814249 , 38.5155    ,
       35.2958243 , 30.70572678, 30.70572678, 22.87630686, 35.2958243 ,
       20.07016773, 29.04293865, 30.70572678, 27.45639428, 24.40235514,
       29.51820514, 27.94720616, 37.51615833, 27.86873699, 33.12898535,
       35.2958243 , 19.89558113, 38.83477484, 26.68916849, 29.56889809,
       31.10838452, 27.94720616, 26.3814249 , 27.94720616, 27.51545426,
       39.08817814, 35.05181757, 23.47643239, 29.56889809, 19.89558113,
       17.10441595, 49.8994093 , 27.30887391, 19.89558113, 35.05181757,
       27.94720616, 27.94720616, 38.42663175, 24.33021696, 39.17490238,
       33.55117591, 29.51820514, 35.2958243 , 19.89558113, 16.18511687,
       35.2958243 , 10.86986696, 50.38328427, 38.83477484, 35.09787898,
       29.56889809, 35.2958243 , 22.87630686, 30.70572678, 50.91095013,
       10.86986696, 43.96476448, 22.87630686, 10.86986696, 25.97788916,
       27.94720616, 16.18511687])

In [13]:
df.loc[(df.Age.isnull()), 'Age'] = predictedAges

In [14]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,1,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,1,S
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,1,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,16.185117,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,1,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,0,Q

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

In [16]:
df['Ticket'].value_counts()
# 数据多样性太强，没有参考价值

347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64

In [17]:
df.drop(columns='Ticket', inplace=True)

In [18]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,71.2833,1,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,53.1000,1,S
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,30.0000,1,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,16.185117,1,2,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,30.0000,1,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,7.7500,0,Q

In [19]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [20]:
Embarked = {'S': 1, 'C': 2, 'Q': 3, np.nan: 4}
df['Embarked'] = df['Embarked'].map(lambda x: Embarked[x])

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,7.2500,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,71.2833,1,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,7.9250,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,53.1000,1,1
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,8.0500,0,1
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,13.0000,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,30.0000,1,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,16.185117,1,2,23.4500,0,1
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,30.0000,1,2
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,7.7500,0,3

In [21]:
# 构建随机森林 模型
from sklearn.ensemble import RandomForestClassifier

rfr = RandomForestClassifier(random_state=0, n_estimators=2000, n_jobs=-1)
df = df[['Survived', 'PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']]

df_values = df.values

y = df_values[:, 0]
y = y.astype('int')
X = df_values[:, 2:]

rfr.fit(X, y)

RandomForestClassifier(n_estimators=2000, n_jobs=-1, random_state=0)

In [22]:
rfr.score(X, y)

0.9865319865319865

In [23]:
#test

df_test = pd.read_csv('test.csv')
df_test.loc[(df_test.Cabin.notnull()), 'Cabin'] = '1'
df_test.loc[(df_test.Cabin.isnull()), 'Cabin'] = '0'
mean = round(df_test['Fare'].mean(), 4)
df_test['Fare'] = df_test['Fare'].fillna(mean)
sex_dic = {'male': 0, 'female': 1}
df_test['Sex'] = df_test['Sex'].map(lambda x: sex_dic[x])
alt = df_test[['Age', 'Fare', 'Parch', 'SibSp', 'Pclass']]

In [24]:

known_age = alt[alt.Age.notnull()].values
unknown_age = alt[alt.Age.isnull()].values

y = known_age[:, 0]  # 提取 Age信息
X = known_age[:, 1:]  # 预测信息

rfr_age = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)

rfr_age.fit(X, y)

predictedAges = rfr_age.predict(unknown_age[:, 1:])
df_test.loc[(df_test.Age.isnull()), 'Age'] = predictedAges
df_test.drop(columns='Ticket', inplace=True)
Embarked = {'S': 1, 'C': 2, 'Q': 3, np.nan: 4}
df_test['Embarked'] = df_test['Embarked'].map(lambda x: Embarked[x])

df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.500000,0,0,7.8292,0,3
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.000000,1,0,7.0000,0,1
2,894,2,"Myles, Mr. Thomas Francis",0,62.000000,0,0,9.6875,0,3
3,895,3,"Wirz, Mr. Albert",0,27.000000,0,0,8.6625,0,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.000000,1,1,12.2875,0,1
...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",0,25.080765,0,0,8.0500,0,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.000000,0,0,108.9000,1,2
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.500000,0,0,7.2500,0,1
416,1308,3,"Ware, Mr. Frederick",0,25.080765,0,0,8.0500,0,1
417,1309,3,"Peter, Master. Michael J",0,21.974527,1,1,22.3583,0,2

In [25]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         418 non-null    float64
 8   Cabin        418 non-null    object
 9   Embarked     418 non-null    int64
dtypes: float64(2), int64(6), object(2)
memory usage: 32.8+ KB

In [26]:
test_alt = df_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']]

test_alt = test_alt.to_numpy()
predictedSurvived = rfr.predict(test_alt[:, :])

In [27]:
predictedSurvived

# 这里简单的 rfr模型就完成了， 预测结果也出来了

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1])

In [28]:
df

,Survived,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,1,3,0,22.000000,1,0,7.2500,0,1
1,1,2,1,1,38.000000,1,0,71.2833,1,2
2,1,3,3,1,26.000000,0,0,7.9250,0,1
3,1,4,1,1,35.000000,1,0,53.1000,1,1
4,0,5,3,0,35.000000,0,0,8.0500,0,1
...,...,...,...,...,...,...,...,...,...,...
886,0,887,2,0,27.000000,0,0,13.0000,0,1
887,1,888,1,1,19.000000,0,0,30.0000,1,1
888,0,889,3,1,16.185117,1,2,23.4500,0,1
889,1,890,1,0,26.000000,0,0,30.0000,1,2
890,0,891,3,0,32.000000,0,0,7.7500,0,3

In [29]:
# 交叉验证

# 重点又来了：
#
# 『要做交叉验证(cross validation)!』

# 恩，重要的事情说三遍。我们通常情况下，这么做cross validation：把train.csv分成两部分，一部分用于训练我们需要的模型，另外一部分数据上看我们预测算法的效果。
# 我们用scikit-learn的cross_validation来帮我们完成小数据集上的这个工作。
# 先简单看看cross validation情况下的打分

from sklearn.model_selection import cross_val_score

# cross validation

X = df.values[:, 1:]
y = df.values[:, 0]
y = y.astype('int')

# cv是交叉验证次数
cross_val_score(rfr, X, y, cv=10)

mean_cross_val = np.mean(cross_val_score(rfr, X, y, cv=10))

mean_cross_val

0.8227340823970039

In [30]:
# https://stackoverflow.com/questions/45346550/valueerror-unknown-label-type-unknown

from sklearn.model_selection import train_test_split

# 分割数据，按照 训练数据:cv数据 = 7:3的比例

split_train, split_cv = train_test_split(df, test_size=0.3, random_state=0)
split_train

,Survived,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
857,1,858,1,0,51.000000,0,0,26.5500,1,1
52,1,53,1,1,49.000000,1,0,76.7292,1,2
386,0,387,3,0,1.000000,5,2,46.9000,0,1
124,0,125,1,0,54.000000,0,1,77.2875,1,1
578,0,579,3,1,20.070168,1,0,14.4583,0,2
...,...,...,...,...,...,...,...,...,...,...
835,1,836,1,1,39.000000,1,1,83.1583,1,2
192,1,193,3,1,19.000000,1,0,7.8542,0,1
629,0,630,3,0,19.895581,0,0,7.7333,0,3
559,1,560,3,1,36.000000,1,0,17.4000,0,1
684,0,685,2,0,60.000000,1,1,39.0000,0,1

In [31]:
train_df = split_train
# clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6, solver='liblinear')
X = train_df.values[:, 1:]
y = train_df.values[:, 0]
y = y.astype('int')

rfr.fit(X, y)

RandomForestClassifier(n_estimators=2000, n_jobs=-1, random_state=0)

In [32]:
test_df = split_cv
X = test_df.values[:, 1:]
y = test_df.values[:, 0]
y = y.astype('int')
predictions = rfr.predict(test_df.values[:, 1:])
predictions

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [33]:
origin_data_train = pd.read_csv("train.csv")
bad_cases = origin_data_train.loc[
    origin_data_train['PassengerId'].isin(split_cv[predictions != test_df.values[:, 0]]['PassengerId'].values)]

bad_cases

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.0,4,2,3101281,7.9250,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.4750,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
113,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.0500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,NaN,S
264,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.0,1,0,347083,7.7750,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0000,NaN,S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.0,0,0,A/5. 10482,8.0500,NaN,S
293,294,0,3,"Haas, Miss. Aloisia",female,24.0,0,0,349236,8.8500,NaN,S
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,NaN,S
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.0,0,0,7598,8.0500,NaN,S
346,347,1,2,"Smith, Miss. Marion Elsie",female,40.0,0,0,31418,13.0000,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
474,475,0,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
501,502,0,3,"Canavan, Miss. Mary",female,21.0,0,0,364846,7.7500,NaN,Q
503,504,0,3,"Laitinen, Miss. Kristina Sofia",female,37.0,0,0,4135,9.5875,NaN,S
505,506,0,1,"Penasco y Castellana, Mr. Victor de Satode",male,18.0,1,0,PC 17758,108.9000,C65,C
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
587,588,1,1,"Frolicher-Stehli, Mr. Maxmillian",male,60.0,1,1,13567,79.2000,B41,C
647,648,1,1,"Simonius-Blumer, Col. Oberst Alfons",male,56.0,0,0,13213,35.5000,A26,C
654,655,0,3,"Hegarty, Miss. Hanora ""Nora""",female,18.0,0,0,365226,6.7500,NaN,Q
671,672,0,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
680,681,0,3,"Peters, Miss. Katie",female,NaN,0,0,330935,8.1375,NaN,Q
698,699,0,1,"Thayer, Mr. John Borland",male,49.0,1,1,17421,110.8833,C68,C
740,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
762,763,1,3,"Barah, Mr. Hanna Assi",male,20.0,0,0,2663,7.2292,NaN,C
786,787,1,3,"Sjoblom, Miss. Anna Sofia",female,18.0,0,0,3101265,7.4958,NaN,S
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.0,1,1,2678,15.2458,NaN,C
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S

In [34]:
split_cv[predictions != test_df.values[:, 0]]['PassengerId'].values

array([299, 347,  15, 475,  56, 588, 741,  98, 302, 313, 484, 506, 252,
       839, 268, 502, 114, 655, 294,  80, 504, 571, 265, 763,  86,  76,
       141, 672, 205,  40, 284,  19, 648, 853,  69, 272, 883, 383,  66,
       681, 699, 339, 262, 787])

In [35]:
df3 = origin_data_train['PassengerId'].isin(split_cv[predictions != test_df.values[:, 0]]['PassengerId'].values)

In [36]:
df3.value_counts()

False    847
True      44
Name: PassengerId, dtype: int64